<!DOCTYPE html>
<html xml:lang="hu" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Thermal Time Constant</title>
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<style>
		html,
		body {
			width: 100%;
			height: 100%;
			margin: 0px;
			border: 0;
			overflow: hidden;
			/*  Disable scrollbars */
			display: block;
			/* No floating content on sides */
			background-color: gray;
			font-family: Arial, Helvetica, sans-serif;
			text-align: center;
		}

		div {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 5%;
			text-align: center;
		}

		input {
			text-align: center;
		}
	</style>
	<script>
		const fontFile = new FontFace(
			"Inconsolata",
			'url(https://fonts.gstatic.com/s/inconsolata/v31/QlddNThLqRwH-OJ1UHjlKENVzlm-WkL3GZQmAwPyya15.woff2) format("woff2")',
			{ stretch: "50% 200%" }
		)
		document.fonts.add(fontFile)
		document.fonts.load("18px Inconsolata")
		document.oncontextmenu = (e) => {
			e.preventDefault()
		}
		document.onselectstart = () => {
			return false
		}
	</script>
</head>

<body>
	<script th:inline="javascript">
		/*<![CDATA[*/
		let data = /*[[${data}]]*/'data'
		/*]]>*/
	</script>
	<div>
		<form id="dataForm" action="#" th:action="@{/}" method="post" th:object="${data}">
			<label for="thermalTimeConstant">Termikus időállandó:</label>
			<input th:field="${data.thermalTimeConstant}" type="text" id="thermalTimeConstant"
				name="thermalTimeConstant" size="2" maxlength="2" pattern="^([1-9]|[1-9][0-9])$">
			<span>&nbsp;</span>
			<label for="initRoomTemp">Helyiség hőmérséklete:</label>
			<input th:field="${data.initRoomTemp}" type="text" id="initRoomTemp" name="initRoomTemp" size="4"
				pattern="^([0-9]|[1-5][0-9])(\.[0-9])?$">
			<span>&nbsp;</span>
			<label for="omszId">OMSZ állomás:</label>
			<input th:field="${data.omszId}" type="text" id="omszId" name="omszId" size="3" maxlength="3"
				pattern="^(0[1-9]|[1-9][0-9]{1,2})$">
			<span>&nbsp;</span>
			<label for="startDate">Kezdő dátum:</label>
			<input th:field="${data.startDate}" type="text" id="startDate" name="startDate" size="11" maxlength="11"
				pattern="^\d{4}[\.\/\s]?((((0[13578])|(1[02]))[\.\/\s]?(([0-2][0-9])|(3[01])))|(((0[469])|(11))[\.\/\s]?(([0-2][0-9])|(30)))|(02[\.\/\s]?[0-2][0-9]))\.$">
			<span>&nbsp;</span>
			<label for="startTime">Kezdő időpont:</label>
			<input th:field="${data.startTime}" type="text" id="startTime" name="startTime" size="5" maxlength="5"
				pattern="^[0-9]{2}:[0-9]{2}$">
			<span>&nbsp;</span>
			<label for="endDate">Záró dátum:</label>
			<input th:field="${data.endDate}" type="text" id="endDate" name="endDate" size="11" maxlength="11"
				pattern="^\d{4}[\.\/\s]?((((0[13578])|(1[02]))[\.\/\s]?(([0-2][0-9])|(3[01])))|(((0[469])|(11))[\.\/\s]?(([0-2][0-9])|(30)))|(02[\.\/\s]?[0-2][0-9]))\.$">
			<span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span>
			<button type="submit">Ok</button>
		</form>
	</div>
	<canvas></canvas>
	<script src="main.js"></script>
</body>